In [ ]:
# import kagglehub
# path = kagglehub.dataset_download("tharunreddy2911/mutual-fund-data")

# print("Path to dataset files:",path)

In [27]:
import pandas as pd
df_loan_applications = pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/loan_applications.csv",index_col=1)
df_transactions = pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/transactions.csv")

In [28]:
df_loan_applications.columns

Index(['application_id', 'application_date', 'loan_type',
       'loan_amount_requested', 'loan_tenure_months', 'interest_rate_offered',
       'purpose_of_loan', 'employment_status', 'monthly_income', 'cibil_score',
       'existing_emis_monthly', 'debt_to_income_ratio',
       'property_ownership_status', 'residential_address', 'applicant_age',
       'gender', 'number_of_dependents', 'loan_status', 'fraud_flag',
       'fraud_type'],
      dtype='object')

In [30]:
df_loan_applications.reset_index()

,customer_id,application_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,CUST109427,c8bf0bea-70e6-4870-9125-41b8210c527f,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,...,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,CUST106146,91224cec-3544-4bc7-ac15-a9792da54c02,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,...,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,CUST100674,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,...,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,CUST106466,a61337d4-ba04-4a68-b492-2cb8266e6ed7,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,...,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,CUST112319,a8d1639e-170b-41b2-826a-55c7dae38d16,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,...,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CUST114840,1d4b1017-e8a1-4a7b-94d1-63e90b05d665,2024-12-29,Education Loan,381000.0,24,12.05,Vehicle Purchase,Student,49200.0,...,2400.0,4.88,Rented,"28, Rana Path, Gorakhpur-411614, Tirupati, Mah...",55,Other,3,Approved,0,NaN
49996,CUST103055,2984426c-6d0b-437c-9a13-84bf3244c6d4,2022-06-17,Education Loan,736000.0,120,11.03,Medical Emergency,Student,28600.0,...,4000.0,13.99,Jointly Owned,"20/836, Varma Zila, Udaipur-879473, Rajkot, We...",61,Other,0,Approved,0,NaN
49997,CUST119886,cdbc7ad8-0f23-46c4-aaca-619053ad5605,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,...,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN
49998,CUST109088,46a8f901-8005-4ae7-923e-f9d0dc8e0ae8,2022-12-16,Business Loan,827000.0,24,16.18,Vehicle Purchase,Business Owner,46700.0,...,8100.0,17.34,Rented,"H.No. 697, Sathe Road, Ongole 444116, Satna, A...",62,Other,3,Approved,0,NaN
49999,CUST113445,6aaf792e-6755-408e-a9ef-4d9bf841864b,2025-03-25,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,...,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN

In [24]:
df_loan_applications_indexes.sort_index()

,application_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
customer_id,,,,,,,,,,,,,,,,,,,,
CUST100000,cfdd36df-a304-4d29-b9a1-eda4642695be,2023-01-23,Personal Loan,454000.0,12,9.83,Vehicle Purchase,Salaried,62400.0,722,1300.0,2.08,Owned,"321, Bassi Circle, Patna 133890, Bongaigaon, M...",61,Male,2,Approved,0,NaN
CUST100000,b695d6ce-f309-46e0-9104-27b8f133dac6,2023-07-19,Business Loan,338000.0,36,12.37,Home Renovation,Salaried,62400.0,795,3500.0,5.61,Owned,"321, Bassi Circle, Patna 133890, Bongaigaon, M...",61,Male,2,Approved,0,NaN
CUST100000,a91655b9-02d9-4f1f-a678-78e4d4f06e9a,2024-01-05,Education Loan,441000.0,240,13.04,Education,Salaried,62400.0,694,2500.0,4.01,Rented,"321, Bassi Circle, Patna 133890, Bongaigaon, M...",61,Male,2,Approved,0,NaN
CUST100000,e0d844a4-2eb4-4638-9dea-dd774646ff16,2023-03-07,Business Loan,625000.0,240,9.25,Medical Emergency,Salaried,62400.0,704,2000.0,3.21,Rented,"321, Bassi Circle, Patna 133890, Bongaigaon, M...",61,Male,2,Approved,0,NaN
CUST100000,67b9a7f0-d2e2-4981-8164-6b39b7e21e74,2023-10-26,Car Loan,516000.0,36,10.67,Vehicle Purchase,Salaried,62400.0,690,2000.0,3.21,Jointly Owned,"321, Bassi Circle, Patna 133890, Bongaigaon, M...",61,Male,2,Approved,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CUST119999,0b073c9b-0d92-4f61-add4-6dfcf8b95701,2025-02-14,Education Loan,555000.0,12,8.96,Vehicle Purchase,Student,10000.0,687,5400.0,54.00,Owned,"66, Sawhney, Meerut-503907, Eluru, Bihar, 210610",36,Male,4,Approved,0,NaN
CUST119999,464724c5-61f1-4416-9f8d-684502de5443,2022-07-15,Home Loan,373000.0,36,11.16,Medical Emergency,Student,10000.0,774,0.0,0.00,Jointly Owned,"66, Sawhney, Meerut-503907, Eluru, Bihar, 210610",36,Male,4,Approved,0,NaN
CUST119999,96e4555d-6c86-4643-88f4-aec843bb7ac5,2022-11-15,Education Loan,619000.0,60,14.07,Vehicle Purchase,Student,10000.0,697,3000.0,30.00,Rented,"66, Sawhney, Meerut-503907, Eluru, Bihar, 210610",36,Male,4,Approved,0,NaN
CUST119999,e07195b6-302a-43d8-b2f7-e60308801a03,2024-01-04,Home Loan,467000.0,36,12.52,Debt Consolidation,Student,10000.0,651,0.0,0.00,Owned,"66, Sawhney, Meerut-503907, Eluru, Bihar, 210610",36,Male,4,Approved,0,NaN
CUST119999,c5380d70-0deb-4bb4-9a6d-bcad2374be76,2023-09-02,Education Loan,1123000.0,360,10.88,Wedding,Student,10000.0,714,2900.0,29.00,Jointly Owned,"66, Sawhney, Meerut-503907, Eluru, Bihar, 210610",36,Male,4,Approved,0,NaN

In [ ]:
pd.io.json.build_table_schema(df_loan_applications)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': 'application_id', 'type': 'string'},
  {'name': 'customer_id', 'type': 'string'},
  {'name': 'application_date', 'type': 'string'},
  {'name': 'loan_type', 'type': 'string'},
  {'name': 'loan_amount_requested', 'type': 'number'},
  {'name': 'loan_tenure_months', 'type': 'integer'},
  {'name': 'interest_rate_offered', 'type': 'number'},
  {'name': 'purpose_of_loan', 'type': 'string'},
  {'name': 'employment_status', 'type': 'string'},
  {'name': 'monthly_income', 'type': 'number'},
  {'name': 'cibil_score', 'type': 'integer'},
  {'name': 'existing_emis_monthly', 'type': 'number'},
  {'name': 'debt_to_income_ratio', 'type': 'number'},
  {'name': 'property_ownership_status', 'type': 'string'},
  {'name': 'residential_address', 'type': 'string'},
  {'name': 'applicant_age', 'type': 'integer'},
  {'name': 'gender', 'type': 'string'},
  {'name': 'number_of_dependents', 'type': 'integer'},
  {'name': 'loan_status', 'type': 'string'},
  {'name': 'fraud_flag', 'type': 'integer'},
  {'name': 'fraud_type', 'type': 'string'}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}


# 🚀 Example: Load `transactions.csv` into SQLite

Suppose you have your file:

```
transactions.csv
```

with data like:

| transaction\_id | customer\_id | transaction\_date | transaction\_amount | ... |
| --------------- | ------------ | ----------------- | ------------------- | --- |
| ...             | ...          | ...               | ...                 | ... |

---

## ✍ Step 1: Read the CSV into a DataFrame

```python
import pandas as pd

df = pd.read_csv("transactions.csv")
```

---

## ✍ Step 2: Connect to SQLite (creates `transactions.db`)

```python
import sqlite3

conn = sqlite3.connect("transactions.db")
```

---

## ✍ Step 3: Write the DataFrame to SQL

```python
df.to_sql("transactions", conn, if_exists="replace", index=False)
```

* `"transactions"` = name of the table in the SQLite DB.
* `if_exists="replace"` will drop & recreate the table if it exists.
  Use `"append"` to add data instead.

---

## ✍ Step 4: Query from SQLite

```python
# Example: Fetch large transactions
result = pd.read_sql_query(
    "SELECT * FROM transactions WHERE transaction_amount > 5000",
    conn
)
print(result.head())
```

---

## 🛠 Complete minimal example

```python
import pandas as pd
import sqlite3

# Load CSV
df = pd.read_csv("transactions.csv")

# Connect to DB (creates file if not exists)
conn = sqlite3.connect("transactions.db")

# Write to table
df.to_sql("transactions", conn, if_exists="replace", index=False)

# Read back some data
result_df = pd.read_sql_query("SELECT * FROM transactions WHERE transaction_amount > 5000", conn)
print(result_df.head())
```

---

## ✅ Summary

| Task                  | Code example                                    |
| --------------------- | ----------------------------------------------- |
| Load CSV to DataFrame | `pd.read_csv("file.csv")`                       |
| Connect SQLite        | `conn = sqlite3.connect("file.db")`             |
| Write to SQLite table | `df.to_sql("table", conn, if_exists="replace")` |
| Query with SQL        | `pd.read_sql_query("SELECT ...", conn)`         |

---

🎯 If you want, I can **generate a complete Python notebook for your data** that:
✅ Loads CSV
✅ Inserts into SQLite
✅ Runs example SQL queries

Just tell me — **“Yes, please create notebook with sample queries.”**

In [ ]:
# 📌 Import pandas and numpy
import pandas as pd
import numpy as np

# ----------------------------------------------------------
# 1️⃣ From a dictionary of lists
data_dict_lists = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df1 = pd.DataFrame(data_dict_lists)
print("\n--- DataFrame from dictionary of lists ---")

print(df1)

--- DataFrame from dictionary of lists ---
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [ ]:


# ----------------------------------------------------------
# 2️⃣ From a list of dictionaries
data_list_dicts = [
    {'Name': 'Alice', 'Age': 25},
    {'Name': 'Bob', 'Age': 30},
    {'Name': 'Charlie', 'Age': 35}
]
df2 = pd.DataFrame(data_list_dicts)
print("\n--- DataFrame from list of dictionaries ---")
print(df2)

--- DataFrame from list of dictionaries ---
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [ ]:

# ----------------------------------------------------------
# 3️⃣ From a list of lists, with columns specified
data_list_lists = [
    ['Alice', 25, 50000],
    ['Bob', 30, 60000],
    ['Charlie', 35, 70000]
]
df3 = pd.DataFrame(data_list_lists, columns=['Name', 'Age', 'Salary'])
print("\n--- DataFrame from list of lists ---")
print(df3)

--- DataFrame from list of lists ---
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [ ]:

# ----------------------------------------------------------
# 4️⃣ From a NumPy array
data_np = np.array([[25, 50000], [30, 60000], [35, 70000]])
df4 = pd.DataFrame(data_np, columns=['Age', 'Salary'])
print("\n--- DataFrame from NumPy array ---")
print(df4)

--- DataFrame from NumPy array ---
   Age  Salary
0   25   50000
1   30   60000
2   35   70000

In [ ]:

# ----------------------------------------------------------
# 5️⃣ From a dictionary of Series
data_dict_series = {
    'Age': pd.Series([25, 30, 35], index=['a', 'b', 'c']),
    'Salary': pd.Series([50000, 60000, 70000], index=['a', 'b', 'c'])
}
df5 = pd.DataFrame(data_dict_series)
print("\n--- DataFrame from dictionary of Series ---")
print(df5)

--- DataFrame from dictionary of Series ---
   Age  Salary
a   25   50000
b   30   60000
c   35   70000

In [ ]:
# ----------------------------------------------------------
# 6️⃣ From a dictionary of dictionaries (row-wise)
data_dict_dicts = {
    'row1': {'Name': 'Alice', 'Age': 25},
    'row2': {'Name': 'Bob', 'Age': 30}
}
df6 = pd.DataFrame.from_dict(data_dict_dicts, orient='index')
print("\n--- DataFrame from dictionary of dictionaries ---")
print(df6)

--- DataFrame from dictionary of dictionaries ---
       row1 row2
Name  Alice  Bob
Age      25   30

In [ ]:

# ----------------------------------------------------------
# 7️⃣ From a scalar value, filled across rows & columns
df7 = pd.DataFrame(0, index=range(3), columns=['A', 'B'])
print("\n--- DataFrame from scalar value ---")
print(df7)

--- DataFrame from scalar value ---
   A  B
0  0  0
1  0  0
2  0  0

In [ ]:
# ----------------------------------------------------------
# 8️⃣ Copying from another DataFrame
df8 = df1[['Name', 'Salary']].copy()  # select subset of columns
print("\n--- DataFrame copied from another DataFrame ---")
print(df8)

--- DataFrame copied from another DataFrame ---
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000

| Source type            | Code example                                  |
| ---------------------- | --------------------------------------------- |
| Dict of lists/arrays   | `pd.DataFrame({'A':[1,2]})`                   |
| List of dicts (rows)   | `pd.DataFrame([{'A':1}, {'A':2}])`            |
| List of lists/tuples   | `pd.DataFrame([[1,2]], columns=['A','B'])`    |
| Dict of Series         | `pd.DataFrame({'A': pd.Series(...)})`         |
| NumPy array            | `pd.DataFrame(np.array(...))`                 |
| Dict of dicts (rows)   | `pd.DataFrame.from_dict(..., orient='index')` |
| Scalar value           | `pd.DataFrame(0, index=..., columns=...)`     |
| From file (CSV, Excel) | `pd.read_csv('file.csv')`                     |
| From SQL               | `pd.read_sql_query(...)`                      |
| Copy from DataFrame    | `df2 = df[['A','B']].copy()`                  |