<a href="https://colab.research.google.com/github/svgoudar/My-Data-Science-Roadmap/blob/main/Pandas_and_Numpy/Panda/4.Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df_loan= pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/loan_applications.csv",)
df_tran = pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/transactions.csv")

In [10]:
df_loan[df_loan.isnull().all(axis=1)]

Empty DataFrame
Columns: [application_id, customer_id, application_date, loan_type, loan_amount_requested, loan_tenure_months, interest_rate_offered, purpose_of_loan, employment_status, monthly_income, cibil_score, existing_emis_monthly, debt_to_income_ratio, property_ownership_status, residential_address, applicant_age, gender, number_of_dependents, loan_status, fraud_flag, fraud_type]
Index: []

[0 rows x 21 columns]

In [21]:
# df_loan.isnull().sum()
df_loan[df_loan.isna().any(axis=1)]

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,...,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,...,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,CUST100674,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,...,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,a61337d4-ba04-4a68-b492-2cb8266e6ed7,CUST106466,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,...,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,a8d1639e-170b-41b2-826a-55c7dae38d16,CUST112319,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,...,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1d4b1017-e8a1-4a7b-94d1-63e90b05d665,CUST114840,2024-12-29,Education Loan,381000.0,24,12.05,Vehicle Purchase,Student,49200.0,...,2400.0,4.88,Rented,"28, Rana Path, Gorakhpur-411614, Tirupati, Mah...",55,Other,3,Approved,0,NaN
49996,2984426c-6d0b-437c-9a13-84bf3244c6d4,CUST103055,2022-06-17,Education Loan,736000.0,120,11.03,Medical Emergency,Student,28600.0,...,4000.0,13.99,Jointly Owned,"20/836, Varma Zila, Udaipur-879473, Rajkot, We...",61,Other,0,Approved,0,NaN
49997,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,...,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN
49998,46a8f901-8005-4ae7-923e-f9d0dc8e0ae8,CUST109088,2022-12-16,Business Loan,827000.0,24,16.18,Vehicle Purchase,Business Owner,46700.0,...,8100.0,17.34,Rented,"H.No. 697, Sathe Road, Ongole 444116, Satna, A...",62,Other,3,Approved,0,NaN
49999,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,...,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN

In [28]:
# df_loan.dropna()              # drop rows with any NaN
# df_loan.dropna(axis=1)         # drop columns with any NaN
# df_loan.dropna(how='all')      # drop rows only if *all* values are NaN
# df_loan.dropna(thresh=3)       # keep rows with at least 3 non-NaNs

df_loan.isna().sum()

application_id                   0
customer_id                      0
application_date                 0
loan_type                        0
loan_amount_requested            0
loan_tenure_months               0
interest_rate_offered            0
purpose_of_loan                  0
employment_status                0
monthly_income                   0
cibil_score                      0
existing_emis_monthly            0
debt_to_income_ratio             0
property_ownership_status        0
residential_address              0
applicant_age                    0
gender                           0
number_of_dependents             0
loan_status                      0
fraud_flag                       0
fraud_type                   48974
dtype: int64

In [31]:
df_loan[~df_loan['fraud_type'].isnull()].fraud_type.value_counts()

fraud_type
Synthetic Identity          276
Income Misrepresentation    270
Loan Stacking               242
Transaction Laundering      238
Name: count, dtype: int64

In [33]:
# df_loan.drop_duplicates(inplace=True)

In [34]:
# df_loan.replace(['yes', 'y'], 'Yes') # Look through the entire DataFrame (df_loan), in all columns and all cells.
df_loan['loan_approved'] = df_loan['loan_approved'].replace(['yes', 'y'], 'Yes')

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,...,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,...,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,CUST100674,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,...,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,a61337d4-ba04-4a68-b492-2cb8266e6ed7,CUST106466,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,...,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,a8d1639e-170b-41b2-826a-55c7dae38d16,CUST112319,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,...,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1d4b1017-e8a1-4a7b-94d1-63e90b05d665,CUST114840,2024-12-29,Education Loan,381000.0,24,12.05,Vehicle Purchase,Student,49200.0,...,2400.0,4.88,Rented,"28, Rana Path, Gorakhpur-411614, Tirupati, Mah...",55,Other,3,Approved,0,NaN
49996,2984426c-6d0b-437c-9a13-84bf3244c6d4,CUST103055,2022-06-17,Education Loan,736000.0,120,11.03,Medical Emergency,Student,28600.0,...,4000.0,13.99,Jointly Owned,"20/836, Varma Zila, Udaipur-879473, Rajkot, We...",61,Other,0,Approved,0,NaN
49997,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,...,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN
49998,46a8f901-8005-4ae7-923e-f9d0dc8e0ae8,CUST109088,2022-12-16,Business Loan,827000.0,24,16.18,Vehicle Purchase,Business Owner,46700.0,...,8100.0,17.34,Rented,"H.No. 697, Sathe Road, Ongole 444116, Satna, A...",62,Other,3,Approved,0,NaN
49999,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,...,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN

| Task                       | Example usage                               |
| -------------------------- | ------------------------------------------- |
| Detect missing             | `df.isnull()`, `df.isnull().sum()`          |
| Remove rows/cols with NaNs | `df.dropna()`, `df.dropna(axis=1)`          |
| Fill missing values        | `df.fillna(0)`, `df.fillna(method='ffill')` |
| Replace specific values    | `df.replace('?', np.nan)`                   |
| Drop duplicate rows        | `df.drop_duplicates()`                      |
| Change data type           | `df['col'].astype(int)`                     |
| Clean strings              | `df['col'].str.strip().str.lower()`         |

| API                     | Description                                                          | Example                        |
| ----------------------- | -------------------------------------------------------------------- | ------------------------------ |
| `isnull()` / `isna()`   | Detect missing values â†’ boolean DataFrame. Same function, two names. | `df.isnull()` or `df.isna()`   |
| `notnull()` / `notna()` | Detect non-missing values.                                           | `df.notnull()` or `df.notna()`
| `dropna()` | Drop rows or columns with NaNs. | `df.dropna()` drops rows with any NaNs.                    |
|            |                                 | `df.dropna(axis=1)` drops columns.                         |
|            |                                 | `df.dropna(how='all')` drops only if all NaN.              |
|            |                                 | `df.dropna(thresh=3)` keeps rows with at least 3 non-NaNs. |
| `fillna()` | Fill NaNs with a scalar, dict, method. | `df.fillna(0)` replaces NaNs with 0.            |
|            |                                        | `df.fillna({'col1': 0, 'col2':99})` per column. |
|            |                                        | `df.fillna(method='ffill')` forward fill.       |
|            |                                        | `df.fillna(method='bfill')` backward fill.      |
| `replace()` | Replace any specified value. | `df.replace(-1, np.nan)` converts `-1` to `NaN`. |
|             |                              | `df.replace(['?', 'NA'], np.nan)`                |
| `interpolate()` | Fill NaNs by interpolation. | `df['col'].interpolate()` does linear interpolation. |
| `dropna(subset=...)` | Drop rows where specific cols are NaN.             | `df.dropna(subset=['col1'])` |
| `where`              | Keep values where condition is True; else set NaN. | `df.where(df > 0)`           |
| `mask`               | Opposite of `where`: set NaN where condition True. | `df.mask(df < 0)`            |