<a href="https://colab.research.google.com/github/svgoudar/My-Data-Science-Roadmap/blob/main/Pandas_and_Numpy/Panda/6.Data%20Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df_loan= pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/loan_applications.csv",)
df_tran = pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/transactions.csv")

In [2]:
pd.set_option('display.max.columns',None)

In [3]:
df_loan

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,CUST100674,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,808,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,a61337d4-ba04-4a68-b492-2cb8266e6ed7,CUST106466,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,647,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,a8d1639e-170b-41b2-826a-55c7dae38d16,CUST112319,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,624,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1d4b1017-e8a1-4a7b-94d1-63e90b05d665,CUST114840,2024-12-29,Education Loan,381000.0,24,12.05,Vehicle Purchase,Student,49200.0,736,2400.0,4.88,Rented,"28, Rana Path, Gorakhpur-411614, Tirupati, Mah...",55,Other,3,Approved,0,NaN
49996,2984426c-6d0b-437c-9a13-84bf3244c6d4,CUST103055,2022-06-17,Education Loan,736000.0,120,11.03,Medical Emergency,Student,28600.0,738,4000.0,13.99,Jointly Owned,"20/836, Varma Zila, Udaipur-879473, Rajkot, We...",61,Other,0,Approved,0,NaN
49997,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN
49998,46a8f901-8005-4ae7-923e-f9d0dc8e0ae8,CUST109088,2022-12-16,Business Loan,827000.0,24,16.18,Vehicle Purchase,Business Owner,46700.0,759,8100.0,17.34,Rented,"H.No. 697, Sathe Road, Ongole 444116, Satna, A...",62,Other,3,Approved,0,NaN
49999,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN

In [4]:
df_loan.columns

Index(['application_id', 'customer_id', 'application_date', 'loan_type',
       'loan_amount_requested', 'loan_tenure_months', 'interest_rate_offered',
       'purpose_of_loan', 'employment_status', 'monthly_income', 'cibil_score',
       'existing_emis_monthly', 'debt_to_income_ratio',
       'property_ownership_status', 'residential_address', 'applicant_age',
       'gender', 'number_of_dependents', 'loan_status', 'fraud_flag',
       'fraud_type'],
      dtype='object')

## 🔹 5. **Sorting and Ranking**

In [5]:
# df_loan.sort_values(by=axis=1,inplace=True)

In [6]:
df = pd.merge(df_loan,df_tran,on='customer_id')

In [7]:
sorted_df = df.sort_values(by=['interest_rate_offered', 'loan_amount_requested'], ascending=[True, False])

In [8]:
shuffled = df.sample(frac=1, random_state=42)
sorted_by_index = shuffled.sort_index()

In [9]:
sorted_by_index

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,3678373e-43ef-43db-86e6-2ded25c0215a,2022-01-05 12:48:00,Loan Disbursement,8800.0,Online Shopping,Samra Group,"Ratlam, West Bengal",0.0,0,ATM,186.235.7.252,Success,OFOB90092825868410,Payment for Online Shopping,0
1,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,6d95f4bc-ed70-4f81-8618-d61fcabee006,2022-01-01 10:59:00,ATM Withdrawal,4900.0,Utilities,Kumar LLC,"Burhanpur, Telangana",16665.0,0,POS,198.121.163.126,Success,Self,Payment for Utilities,0
2,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,7defbd79-319e-44c3-84b0-eda86770d117,2022-01-16 19:07:00,ATM Withdrawal,3600.0,Education,Hans-Sampath,"Allahabad, Gujarat",33298.0,0,ATM,48.39.67.206,Success,Self,Payment for Education,0
3,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,d6e1e087-c979-45af-82be-a80be7b16e0c,2022-01-29 01:28:00,EMI Payment,9800.0,Entertainment,"Chaudry, Vaidya and Mahajan","Pimpri-Chinchwad, Arunachal Pradesh",36445.0,0,Mobile,23.72.133.170,Success,ERZV01835170244300,Payment for Entertainment,0
4,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,5cda4577-eadd-4da3-b50c-aa96c8c40fd4,2022-01-07 16:51:00,Deposit,4400.0,Cash Withdrawal,Biswas Ltd,"Bulandshahr, Andhra Pradesh",13656.0,0,POS,146.178.79.161,Success,Self,Payment for Cash Withdrawal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125276,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,826e2fa7-4942-4264-9aa5-73c435e894ee,2022-01-29 08:47:00,Net Banking,4100.0,Utilities,"Comar, Chandran and Sankar","Udaipur, Bihar",7793.0,0,Mobile,45.12.55.170,Success,LKFK86966279007502,Payment for Utilities,0
125277,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,7745ef45-aa3c-4510-ae29-efe5e4269dc1,2022-01-01 17:53:00,EMI Payment,2800.0,Utilities,"Dhar, Bandi and Mannan","Karimnagar, Mizoram",45281.0,0,Mobile,227.88.125.141,Success,OQLW11460848163287,Payment for Utilities,0
125278,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,b93bac13-9124-480d-9fbf-675d379fd76d,2022-01-05 05:48:00,Credit Card,5200.0,Education,"Viswanathan, Dutta and Date","Tenali, Uttarakhand",0.0,0,ATM,113.89.126.32,Success,FZWM42401121012219,Payment for Education,0
125279,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,7f126cee-0d71-4c48-839b-d08f1c896128,2022-01-09 17:47:00,Debit Card,12400.0,Dining,"Loyal, Ganesan and Wali","Shahjahanpur, Punjab",12396.0,0,POS,174.24.235.70,Success,PKCY10495832996768,Payment for Dining,0
125280,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,22f54ed6-08a5-42aa-9339-b9ccb5aab99f,2022-01-02 09:44:00,Net Banking,12000.0,Online Shopping,"Bhatt, Mander and Sengupta","Kolkata, Uttar Pradesh",31502.0,0,Mobile,29.48.28.34,Success,THMT78456558056686,Payment for Online Shopping,0

In [10]:
df['loan_amount_rank'] = df['loan_amount_requested'].rank(method='average', ascending=True)

In [11]:
df[['loan_amount_requested','loan_amount_rank']]

        loan_amount_requested  loan_amount_rank
0                    604000.0           79684.0
1                    604000.0           79684.0
2                    100000.0            5573.5
3                    100000.0            5573.5
4                    100000.0            5573.5
...                       ...               ...
125276               436000.0           51758.0
125277               436000.0           51758.0
125278               436000.0           51758.0
125279               100000.0            5573.5
125280               100000.0            5573.5

[125281 rows x 2 columns]

In [12]:
df.nlargest(2, 'monthly_income')

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y,loan_amount_rank
321,ea2ef262-0c4e-4f1e-bdec-f2ece2979e64,CUST118851,2022-11-21,Education Loan,100000.0,60,9.62,Medical Emergency,Self-Employed,148600.0,692,5800.0,3.9,Rented,"H.No. 829, Lad Nagar, Ambattur 291969, Thane, ...",44,Male,4,Approved,0,NaN,c74eb6ec-9be3-432a-bd48-fd393e2d86c3,2022-01-27 04:16:00,UPI,14100.0,Utilities,Chandra PLC,"Machilipatnam, Tamil Nadu",31624.0,0,Mobile,243.40.254.234,Success,MJOD51073485767635,Payment for Utilities,0,5573.5
322,ea2ef262-0c4e-4f1e-bdec-f2ece2979e64,CUST118851,2022-11-21,Education Loan,100000.0,60,9.62,Medical Emergency,Self-Employed,148600.0,692,5800.0,3.9,Rented,"H.No. 829, Lad Nagar, Ambattur 291969, Thane, ...",44,Male,4,Approved,0,NaN,1bcb76c4-7418-4fac-9d66-f82393c3955e,2022-01-02 15:38:00,Credit Card,17900.0,Entertainment,"Kaur, Sethi and Kala","Saharsa, Uttarakhand",15821.0,0,Web,198.221.67.30,Success,BETC21066759957597,Payment for Entertainment,0,5573.5

In [13]:
df.nsmallest(2, 'monthly_income')

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y,loan_amount_rank
42,973a866a-a7bd-4166-8121-a1e220e29a83,CUST103082,2023-12-16,Education Loan,737000.0,240,7.0,Medical Emergency,Retired,10000.0,755,5500.0,55.0,Jointly Owned,"H.No. 88, Dube Nagar, Nanded 255803, Khammam, ...",28,Male,2,Approved,0,NaN,381d2078-39c6-4542-a353-f73b7780d85b,2022-01-05 18:32:00,Fund Transfer,10400.0,Electronics,Kohli-Madan,"Jammu, Meghalaya",0.0,0,Mobile,200.114.98.32,Success,EDQS87532919552393,Payment for Electronics,0,98369.0
43,973a866a-a7bd-4166-8121-a1e220e29a83,CUST103082,2023-12-16,Education Loan,737000.0,240,7.0,Medical Emergency,Retired,10000.0,755,5500.0,55.0,Jointly Owned,"H.No. 88, Dube Nagar, Nanded 255803, Khammam, ...",28,Male,2,Approved,0,NaN,5fbb5018-cd46-4a0b-bc6c-c5c497094911,2022-01-12 21:51:00,Net Banking,12200.0,Entertainment,"Bhavsar, Chana and Raja","Loni, Bihar",7870.0,0,ATM,23.67.169.109,Success,GYXI11964565023408,Payment for Entertainment,0,98369.0

## 🔹 6. **Aggregation and Grouping**

* `.groupby()`
* `.agg()`, `.aggregate()`
* `.sum()`, `.mean()`, `.median()`, `.std()`, `.var()`, `.min()`, `.max()`
* `.count()`, `.size()`, `.nunique()`

In [14]:
df.groupby("loan_type").agg({
    "loan_amount_requested": ["sum", "mean", "max"],
    "monthly_income": ["mean", "std"],
    "interest_rate_offered": "mean"
})

               loan_amount_requested                           monthly_income  \
                                 sum           mean        max           mean
loan_type
Business Loan           1.279790e+10  511690.896006  1612000.0   51017.852145
Car Loan                1.287083e+10  515617.097989  1618000.0   50757.643618
Education Loan          1.293495e+10  518019.703644  1537000.0   50877.641169
Home Loan               1.288819e+10  512188.053889  1582000.0   50373.043755
Personal Loan           1.294725e+10  514289.851043  1607000.0   50808.564052

                             interest_rate_offered
                         std                  mean
loan_type
Business Loan   23476.573144             10.517030
Car Loan        23696.001389             10.542063
Education Loan  24365.789813             10.542332
Home Loan       23696.239901             10.509289
Personal Loan   23694.115774             10.525628

In [15]:
df.groupby("gender")["loan_amount_requested"].sum()

gender
Female    2.171211e+10
Male      2.115287e+10
Other     2.157414e+10
Name: loan_amount_requested, dtype: float64

In [16]:
df.groupby("gender")["monthly_income"].mean()

gender
Female    50899.429572
Male      50763.535280
Other     50635.450253
Name: monthly_income, dtype: float64

In [17]:
df.groupby("gender")["interest_rate_offered"].std()

gender
Female    1.920751
Male      1.932854
Other     1.919590
Name: interest_rate_offered, dtype: float64

In [18]:
# Count number of loans by loan_type
df.groupby("loan_type").size()

loan_type
Business Loan     25011
Car Loan          24962
Education Loan    24970
Home Loan         25163
Personal Loan     25175
dtype: int64

In [19]:
# Count unique customer IDs per gender
df.groupby("gender")["customer_id"].nunique()

gender
Female    5562
Male      5520
Other     5684
Name: customer_id, dtype: int64

In [20]:
df.groupby("gender")["customer_id"].count()

gender
Female    42249
Male      41100
Other     41932
Name: customer_id, dtype: int64

## 🔹 7. **Window Functions / Rolling Statistics**

* `.rolling()`, `.expanding()`, `.ewm()`
* `.cumsum()`, `.cumprod()`, `.cummin()`, `.cummax()`
* `.shift()`, `.diff()`, `.pct_change()`

In [21]:
df['rolling_mean_2'] = df['loan_amount_requested'].rolling(window=2).mean()

In [22]:
df[['loan_amount_requested','rolling_mean_2']]

        loan_amount_requested  rolling_mean_2
0                    604000.0             NaN
1                    604000.0        604000.0
2                    100000.0        352000.0
3                    100000.0        100000.0
4                    100000.0        100000.0
...                       ...             ...
125276               436000.0        586000.0
125277               436000.0        436000.0
125278               436000.0        436000.0
125279               100000.0        268000.0
125280               100000.0        100000.0

[125281 rows x 2 columns]

In [23]:
df['rolling_mean_2']

0              NaN
1         604000.0
2         352000.0
3         100000.0
4         100000.0
            ...
125276    586000.0
125277    436000.0
125278    436000.0
125279    268000.0
125280    100000.0
Name: rolling_mean_2, Length: 125281, dtype: float64

In [24]:
df['expanding_mean'] = df['loan_amount_requested'].expanding(2).sum()

In [25]:
df[['expanding_mean','loan_amount_requested']]

        expanding_mean  loan_amount_requested
0                  NaN               604000.0
1         1.208000e+06               604000.0
2         1.308000e+06               100000.0
3         1.408000e+06               100000.0
4         1.508000e+06               100000.0
...                ...                    ...
125276    6.443805e+10               436000.0
125277    6.443849e+10               436000.0
125278    6.443892e+10               436000.0
125279    6.443902e+10               100000.0
125280    6.443912e+10               100000.0

[125281 rows x 2 columns]

In [26]:
df['ewm_mean'] = df['loan_amount_requested'].ewm(span=2).mean()

In [27]:
df[['ewm_mean','loan_amount_requested']]

             ewm_mean  loan_amount_requested
0       604000.000000               604000.0
1       604000.000000               604000.0
2       255076.923077               100000.0
3       150400.000000               100000.0
4       116661.157025               100000.0
...               ...                    ...
125276  504729.425932               436000.0
125277  458909.808644               436000.0
125278  443636.602881               436000.0
125279  214545.534294               100000.0
125280  138181.844765               100000.0

[125281 rows x 2 columns]

Great! Let's dive into **`ewm()` — Exponentially Weighted Moving** calculations in Pandas.

---

### ✅ What is `ewm()`?

`ewm()` stands for **Exponentially Weighted Moving** functions. It is a method used to calculate moving averages or statistics that give **more weight to recent observations** while not completely ignoring older ones.

This is **very useful in time-series** or streaming data — like tracking recent trends, stock prices, server metrics, etc.

---

### 📌 Why use EWM instead of Rolling?

* `.rolling(window=3).mean()` → averages equally across the last 3 values.
* `.ewm(span=3).mean()` → gives **exponentially decreasing weights**, with **most weight on the most recent** value.

---

### 🧠 Core Formula (Simplified):

For a series of values $x_1, x_2, ..., x_t$, the **exponential moving average** $EMA_t$ is calculated recursively:

$$
EMA_t = \alpha \cdot x_t + (1 - \alpha) \cdot EMA_{t-1}
$$

Where:

* $\alpha$ is the **smoothing factor**: $\alpha = \frac{2}{\text{span} + 1}$

---

### 🔧 Syntax in Pandas:

```python
df['ewm_avg'] = df['your_column'].ewm(span=3).mean()
```

---

### ⚙️ Parameters You Should Know:

| Parameter     | Meaning                                             |
| ------------- | --------------------------------------------------- |
| `span`        | Defines the decay; higher span = slower decay       |
| `alpha`       | Directly specify smoothing factor (instead of span) |
| `adjust=True` | Whether to adjust weights (like in stats)           |
| `ignore_na`   | Whether to ignore missing values in the calculation |

---

### 📊 Example:

```python
import pandas as pd

data = pd.Series([10, 20, 30, 40, 50])
ema = data.ewm(span=3, adjust=False).mean()

print(ema)
```

**Output:**

```
0    10.000000
1    15.000000
2    22.500000
3    31.250000
4    40.625000
dtype: float64
```

You can see how each value is **closer to the most recent ones**.

---

### 🔍 When to Use EWM?

* Financial indicators (e.g., EMA for stock prices)
* Real-time sensor or monitoring data
* Smoothing noisy time series
* Trend detection in recent data

---

Would you like a plot comparison of `.rolling()` vs `.ewm()` to visualize the difference?

In [28]:
df['cumprod'] = df['loan_amount_requested'].cumprod()
df['cummin'] = df['loan_amount_requested'].cummin()
df['cummax'] = df['loan_amount_requested'].cummax()
df['cumsum'] = df['loan_amount_requested'].cumsum()
df['shift_1'] = df['loan_amount_requested'].shift(1) # Shift values down by 1   row (lag)
df['diff'] = df['loan_amount_requested'].diff() #  Difference with previous row
df['pct_change'] = df['loan_amount_requested'].pct_change() # Percentage change from previous row

/usr/local/lib/python3.11/dist-packages/numpy/_core/fromnumeric.py:57: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)

In [29]:
df[['loan_amount_requested','cumprod','cummax','cummin','cumsum','shift_1','diff','pct_change']]

,loan_amount_requested,cumprod,cummax,cummin,cumsum,shift_1,diff,pct_change
0,604000.0,6.040000e+05,604000.0,604000.0,6.040000e+05,NaN,NaN,NaN
1,604000.0,3.648160e+11,604000.0,604000.0,1.208000e+06,604000.0,0.0,0.000000
2,100000.0,3.648160e+16,604000.0,100000.0,1.308000e+06,604000.0,-504000.0,-0.834437
3,100000.0,3.648160e+21,604000.0,100000.0,1.408000e+06,100000.0,0.0,0.000000
4,100000.0,3.648160e+26,604000.0,100000.0,1.508000e+06,100000.0,0.0,0.000000
...,...,...,...,...,...,...,...,...
125276,436000.0,inf,1618000.0,100000.0,6.443805e+10,736000.0,-300000.0,-0.407609
125277,436000.0,inf,1618000.0,100000.0,6.443849e+10,436000.0,0.0,0.000000
125278,436000.0,inf,1618000.0,100000.0,6.443892e+10,436000.0,0.0,0.000000
125279,100000.0,inf,1618000.0,100000.0,6.443902e+10,436000.0,-336000.0,-0.770642
125280,100000.0,inf,1618000.0,100000.0,6.443912e+10,100000.0,0.0,0.000000

## 🔹 8. **Reshaping / Pivoting**

### ✅ 1. `.pivot()`

Used to reshape data (similar to Excel pivot). Requires **unique index/column pairs**.

In [30]:
df_uni = df.drop_duplicates(subset='customer_id')

In [31]:
from IPython.display import Markdown, display
display(Markdown("**Effect**: Shows loan amounts requested by each customer for different loan types (1 row per customer)."))
df_uni.pivot(index='customer_id', columns='loan_type', values='loan_amount_requested')

**Effect**: Shows loan amounts requested by each customer for different loan types (1 row per customer).

loan_type    Business Loan  Car Loan  Education Loan  Home Loan  Personal Loan
customer_id
CUST100000             NaN  516000.0             NaN        NaN            NaN
CUST100001        396000.0       NaN             NaN        NaN            NaN
CUST100003             NaN       NaN             NaN        NaN       283000.0
CUST100005             NaN       NaN             NaN        NaN       368000.0
CUST100007        163000.0       NaN             NaN        NaN            NaN
...                    ...       ...             ...        ...            ...
CUST119995             NaN       NaN             NaN        NaN       541000.0
CUST119996             NaN       NaN             NaN   100000.0            NaN
CUST119997             NaN       NaN        100000.0        NaN            NaN
CUST119998             NaN       NaN             NaN   605000.0            NaN
CUST119999             NaN       NaN       1123000.0        NaN            NaN

[16766 rows x 5 columns]

### ✅ 2. `.pivot_table()`
Like `.pivot()`, but allows **aggregation** for duplicate entries using a function like `mean()`.

In [32]:
from IPython.display import Markdown, display
display(Markdown("**Effect**: Average loan amount requested per employment type for each loan type.\n"))
df_pivot = df_uni.pivot_table(index='employment_status', columns='loan_type', values='loan_amount_requested', aggfunc='mean')
df_pivot

**Effect**: Average loan amount requested per employment type for each loan type.

loan_type,Business Loan,Car Loan,Education Loan,Home Loan,Personal Loan
employment_status,,,,,
Business Owner,491120.781528,507220.614828,497736.013986,515884.540117,525530.465950
Retired,509073.943662,515281.250000,521405.872193,511833.898305,527129.090909
Salaried,511310.463122,517369.068541,517522.072937,508749.180328,511801.444043
Self-Employed,510249.103943,522926.785714,493179.894180,491145.522388,508588.888889
Student,532555.555556,518921.641791,511397.312860,507127.845884,525442.857143
Unemployed,511907.986111,516154.804270,527577.264654,498991.364421,501201.851852

### ✅ 3. `.melt()`
Unpivots a wide table to long format. Useful for column-to-row transformation.

In [33]:
df_pivot.reset_index(inplace=True)

In [34]:
df_long = pd.melt(
    df_pivot,
    id_vars='employment_status',
    var_name='loan_type',
    value_name='avg_loan_amount_requested'
)
df_long

   employment_status       loan_type  avg_loan_amount_requested
0     Business Owner   Business Loan              491120.781528
1            Retired   Business Loan              509073.943662
2           Salaried   Business Loan              511310.463122
3      Self-Employed   Business Loan              510249.103943
4            Student   Business Loan              532555.555556
5         Unemployed   Business Loan              511907.986111
6     Business Owner        Car Loan              507220.614828
7            Retired        Car Loan              515281.250000
8           Salaried        Car Loan              517369.068541
9      Self-Employed        Car Loan              522926.785714
10           Student        Car Loan              518921.641791
11        Unemployed        Car Loan              516154.804270
12    Business Owner  Education Loan              497736.013986
13           Retired  Education Loan              521405.872193
14          Salaried  Education Loan              517522.072937
15     Self-Employed  Education Loan              493179.894180
16           Student  Education Loan              511397.312860
17        Unemployed  Education Loan              527577.264654
18    Business Owner       Home Loan              515884.540117
19           Retired       Home Loan              511833.898305
20          Salaried       Home Loan              508749.180328
21     Self-Employed       Home Loan              491145.522388
22           Student       Home Loan              507127.845884
23        Unemployed       Home Loan              498991.364421
24    Business Owner   Personal Loan              525530.465950
25           Retired   Personal Loan              527129.090909
26          Salaried   Personal Loan              511801.444043
27     Self-Employed   Personal Loan              508588.888889
28           Student   Personal Loan              525442.857143
29        Unemployed   Personal Loan              501201.851852

In [35]:
df.reset_index().set_index('loan_type')

,index,application_id,customer_id,application_date,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y,loan_amount_rank,rolling_mean_2,expanding_mean,ewm_mean,cumprod,cummin,cummax,cumsum,shift_1,diff,pct_change
loan_type,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Business Loan,0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,3678373e-43ef-43db-86e6-2ded25c0215a,2022-01-05 12:48:00,Loan Disbursement,8800.0,Online Shopping,Samra Group,"Ratlam, West Bengal",0.0,0,ATM,186.235.7.252,Success,OFOB90092825868410,Payment for Online Shopping,0,79684.0,NaN,NaN,604000.000000,6.040000e+05,604000.0,604000.0,6.040000e+05,NaN,NaN,NaN
Business Loan,1,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,6d95f4bc-ed70-4f81-8618-d61fcabee006,2022-01-01 10:59:00,ATM Withdrawal,4900.0,Utilities,Kumar LLC,"Burhanpur, Telangana",16665.0,0,POS,198.121.163.126,Success,Self,Payment for Utilities,0,79684.0,604000.0,1.208000e+06,604000.000000,3.648160e+11,604000.0,604000.0,1.208000e+06,604000.0,0.0,0.000000
Car Loan,2,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,7defbd79-319e-44c3-84b0-eda86770d117,2022-01-16 19:07:00,ATM Withdrawal,3600.0,Education,Hans-Sampath,"Allahabad, Gujarat",33298.0,0,ATM,48.39.67.206,Success,Self,Payment for Education,0,5573.5,352000.0,1.308000e+06,255076.923077,3.648160e+16,100000.0,604000.0,1.308000e+06,604000.0,-504000.0,-0.834437
Car Loan,3,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,d6e1e087-c979-45af-82be-a80be7b16e0c,2022-01-29 01:28:00,EMI Payment,9800.0,Entertainment,"Chaudry, Vaidya and Mahajan","Pimpri-Chinchwad, Arunachal Pradesh",36445.0,0,Mobile,23.72.133.170,Success,ERZV01835170244300,Payment for Entertainment,0,5573.5,100000.0,1.408000e+06,150400.000000,3.648160e+21,100000.0,604000.0,1.408000e+06,100000.0,0.0,0.000000
Car Loan,4,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,5cda4577-eadd-4da3-b50c-aa96c8c40fd4,2022-01-07 16:51:00,Deposit,4400.0,Cash Withdrawal,Biswas Ltd,"Bulandshahr, Andhra Pradesh",13656.0,0,POS,146.178.79.161,Success,Self,Payment for Cash Withdrawal,0,5573.5,100000.0,1.508000e+06,116661.157025,3.648160e+26,100000.0,604000.0,1.508000e+06,100000.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Car Loan,125276,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,826e2fa7-4942-4264-9aa5-73c435e894ee,2022-01-29 08:47:00,Net Banking,4100.0,Utilities,"Comar, Chandran and Sankar","Udaipur, Bihar",7793.0,0,Mobile,45.12.55.170,Success,LKFK86966279007502,Payment for Utilities,0,51758.0,586000.0,6.443805e+10,504729.425932,inf,100000.0,1618000.0,6.443805e+10,736000.0,-300000.0,-0.407609
Car Loan,125277,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,7745ef45-aa3c-4510-ae29-efe5e4269dc1,2022-01-01 17:53:00,EMI Payment,2800.0,Utilities,"Dhar, Bandi and Mannan","Karimnagar, Mizoram",45281.0,0,Mobile,227.88.125.141,Success,OQLW11460848163287,Payment for Utilities,0,51758.0,436000.0,6.443849e+10,458909.808644,inf,100000.0,1618000.0,6.443849e+10,436000.0,0.0,0.000000
Car Loan,125278,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,b93bac13-9124-480d-9fbf-675d379fd76d,2022-01-05 05:48:00,Credit Card,5200.0,Education,"Viswanathan, Dutta and Date","Tenali, Uttarakhand",0.0,0,ATM,113.89.126.32,Success,FZWM42401121012219,Payment for Education,0,51758.0,436000.0,6.443892e+10,443636.602881,inf,100000.0,1618000.0,6.443892e+10,436000.0,0.0,0.000000
Home Loan,125279,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,7f126cee-0d71-4c48-839b-d08f1c896128,2022-01-09 17:47:00,Debit Card,12400.0,Dining,"Loyal, Ganesan and Wali","Shahjahanpur, Punjab",12396.0,0,POS,174.24.235.70,Success,PKCY10495832996768,Payment for Dining,0,5573.5,268000.0,6.443902e+10,214545.534294,inf,100000.0,1618000.0,6.443902e+10,436000.0,-336000.0,-0.770642
Home Loan,125280,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,22f54ed6-08a5-42aa-9339-b9ccb5aab99f,2022-01-02 09:44:00,Net Banking,12000.0,Online Shopping,"Bhatt, Mander and Sengupta","Kolkata, Uttar Pradesh",31502.0,0,Mobile,29.48.28.34,Success,THMT78456558056686,Payment for Online Shopping,0,5573.5,100000.0,6.443912e+10,138181.844765,inf,100000.0,1618000.0,6.443912e+10,100000.0,0.0,0.000000

**Effect**: Converts `loan_amount_requested` and `interest_rate_offered` into a long-format column named `variable` with their values.

### ✅ 4. `.stack()`

Converts columns into rows — **turns wide to long format**, but keeps index.

In [36]:
df.set_index('application_id').stack()

application_id
c8bf0bea-70e6-4870-9125-41b8210c527f  customer_id                 CUST109427
                                      application_date            2023-04-09
                                      loan_type                Business Loan
                                      loan_amount_requested         604000.0
                                      loan_tenure_months                  12
                                                                   ...
6aaf792e-6755-408e-a9ef-4d9bf841864b  cummax                       1618000.0
                                      cumsum                   64439122000.0
                                      shift_1                       100000.0
                                      diff                               0.0
                                      pct_change                         0.0
Length: 5640250, dtype: object

**Effect**: Stacks columns as inner index levels for each `application_id`.

### ✅ 5. `.unstack()`

Opposite of `.stack()` — turns row index into columns.

In [37]:
df_uni.set_index(['customer_id', 'loan_type'])['loan_amount_requested'].unstack()

loan_type    Business Loan  Car Loan  Education Loan  Home Loan  Personal Loan
customer_id
CUST100000             NaN  516000.0             NaN        NaN            NaN
CUST100001        396000.0       NaN             NaN        NaN            NaN
CUST100003             NaN       NaN             NaN        NaN       283000.0
CUST100005             NaN       NaN             NaN        NaN       368000.0
CUST100007        163000.0       NaN             NaN        NaN            NaN
...                    ...       ...             ...        ...            ...
CUST119995             NaN       NaN             NaN        NaN       541000.0
CUST119996             NaN       NaN             NaN   100000.0            NaN
CUST119997             NaN       NaN        100000.0        NaN            NaN
CUST119998             NaN       NaN             NaN   605000.0            NaN
CUST119999             NaN       NaN       1123000.0        NaN            NaN

[16766 rows x 5 columns]

### ✅ 6. `.transpose()` or `.T`

Flips rows and columns. Not common in EDA but useful for viewing.

In [38]:
df.head(3).T

,0,1,2
application_id,c8bf0bea-70e6-4870-9125-41b8210c527f,c8bf0bea-70e6-4870-9125-41b8210c527f,91224cec-3544-4bc7-ac15-a9792da54c02
customer_id,CUST109427,CUST109427,CUST106146
application_date,2023-04-09,2023-04-09,2023-09-23
loan_type,Business Loan,Business Loan,Car Loan
loan_amount_requested,604000.0,604000.0,100000.0
loan_tenure_months,12,12,240
interest_rate_offered,11.66,11.66,13.62
purpose_of_loan,Medical Emergency,Medical Emergency,Education
employment_status,Retired,Retired,Unemployed
monthly_income,34700.0,34700.0,51600.0
cibil_score,714,714,667
existing_emis_monthly,1100.0,1100.0,0.0
debt_to_income_ratio,3.17,3.17,0.0
property_ownership_status,Rented,Rented,Owned
residential_address,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...","94/31, Sehgal Zila, Vadodara-380521, Anantapur...","H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im..."
applicant_age,28,28,44
gender,Female,Female,Other
number_of_dependents,3,3,3
loan_status,Approved,Approved,Approved
fraud_flag_x,0,0,0
fraud_type,NaN,NaN,NaN
transaction_id,3678373e-43ef-43db-86e6-2ded25c0215a,6d95f4bc-ed70-4f81-8618-d61fcabee006,7defbd79-319e-44c3-84b0-eda86770d117
transaction_date,2022-01-05 12:48:00,2022-01-01 10:59:00,2022-01-16 19:07:00
transaction_type,Loan Disbursement,ATM Withdrawal,ATM Withdrawal
transaction_amount,8800.0,4900.0,3600.0
merchant_category,Online Shopping,Utilities,Education
merchant_name,Samra Group,Kumar LLC,Hans-Sampath
transaction_location,"Ratlam, West Bengal","Burhanpur, Telangana","Allahabad, Gujarat"
account_balance_after_transaction,0.0,16665.0,33298.0
is_international_transaction,0,0,0
device_used,ATM,POS,ATM
ip_address,186.235.7.252,198.121.163.126,48.39.67.206
transaction_status,Success,Success,Success
transaction_source_destination,OFOB90092825868410,Self,Self
transaction_notes,Payment for Online Shopping,Payment for Utilities,Payment for Education
fraud_flag_y,0,0,0
loan_amount_rank,79684.0,79684.0,5573.5
rolling_mean_2,NaN,604000.0,352000.0
expanding_mean,NaN,1208000.0,1308000.0
ewm_mean,604000.0,604000.0,255076.923077
cumprod,604000.0,364816000000.0,36481600000000000.0
cummin,604000.0,604000.0,100000.0
cummax,604000.0,604000.0,604000.0
cumsum,604000.0,1208000.0,1308000.0
shift_1,NaN,604000.0,604000.0
diff,NaN,0.0,-504000.0
pct_change,NaN,0.0,-0.834437

### ✅ 7. `.explode()`
Used when a column contains **lists**, and you want to split them into multiple rows.

Example: Suppose `purpose_of_loan` had multiple values like:

In [39]:
df['purpose_of_loan'] = [['Education', 'Travel'], ['Medical'], ['Business'], ['Education', 'Medical']]
df['purpose_of_loan']

ValueError: Length of values (4) does not match length of index (125281)

## 🔹 9. **Merging / Joining / Concatenation**


* `pd.merge()`, `.merge()`

In [40]:
df = pd.merge(df_loan,df_tran,on='customer_id')

In [42]:
df.head(2)

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,3678373e-43ef-43db-86e6-2ded25c0215a,2022-01-05 12:48:00,Loan Disbursement,8800.0,Online Shopping,Samra Group,"Ratlam, West Bengal",0.0,0,ATM,186.235.7.252,Success,OFOB90092825868410,Payment for Online Shopping,0
1,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,6d95f4bc-ed70-4f81-8618-d61fcabee006,2022-01-01 10:59:00,ATM Withdrawal,4900.0,Utilities,Kumar LLC,"Burhanpur, Telangana",16665.0,0,POS,198.121.163.126,Success,Self,Payment for Utilities,0

In [43]:
df = pd.concat([df_loan,df_tran],axis=1)

In [44]:
df.head(2)

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type,transaction_id,customer_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,2d7ddfd4-1112-4354-a2dd-fad94b45a850,CUST102188,2022-01-04 11:27:00,Bill Payment,2100.0,Dining,"Rattan, Khanna and Magar","Srikakulam, Himachal Pradesh",8211.0,0,Web,31.102.21.141,Success,BCHG80012468703731,Payment for Dining,0
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,ba998721-a612-4e0a-8354-46d001e9c39c,CUST107144,2022-01-03 23:52:00,UPI,1400.0,Travel,Chauhan LLC,"Giridih, Manipur",12858.0,0,Web,176.48.222.166,Success,CJPZ11841095072972,Payment for Travel,0

### 1. **`.join()` – Join columns based on index**

Used for joining on the index. Works best when the two DataFrames share the same index or are aligned.

In [45]:
data = {
    'application_id': ['c8bf0bea', '91224cec', '4efcd02d', 'a61337d4'],
    'loan_amount_requested': [604000.0, 100000.0, 431000.0, 324000.0],
    'monthly_income': [34700.0, 51600.0, 14800.0, 28800.0],
    'loan_type': ['Business Loan', 'Car Loan', 'Education Loan', 'Car Loan']
}
df = pd.DataFrame(data)

In [46]:
loan_scores = pd.DataFrame({
    'score': [700, 580, 800, 640]
}, index=df.index)
df_joined = df.join(loan_scores)

In [47]:
df_joined

  application_id  loan_amount_requested  monthly_income       loan_type  score
0       c8bf0bea               604000.0         34700.0   Business Loan    700
1       91224cec               100000.0         51600.0        Car Loan    580
2       4efcd02d               431000.0         14800.0  Education Loan    800
3       a61337d4               324000.0         28800.0        Car Loan    640



* `.join()`
* `pd.concat()`
* `pd.concat([df1, df2], axis=0/1)`
* `df.append()` (deprecated)

---

## 🔹 10. **Datetime and Time Series Handling**

* `pd.to_datetime()`, `pd.date_range()`
* `.dt accessor` → `.dt.year`, `.dt.month`, `.dt.day`, `.dt.weekday`, `.dt.floor()`
* `.resample()`
* `.asfreq()`
* Time zone conversions: `.tz_localize()`, `.tz_convert()`

---

In [48]:
df = pd.merge(df_loan,df_tran,on='customer_id')

In [49]:
df['application_date'] = pd.to_datetime(df['application_date'])

In [50]:
date_range = pd.date_range(start='2023-01-01', periods=10, freq='B')  # B = business day frequency

In [51]:
date_range

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11',
               '2023-01-12', '2023-01-13'],
              dtype='datetime64[ns]', freq='B')

In [52]:
df['app_year'] = df['application_date'].dt.year
df['app_month'] = df['application_date'].dt.month
df['app_day'] = df['application_date'].dt.day
df['app_weekday'] = df['application_date'].dt.weekday  # Monday=0, Sunday=6
df['app_floor'] = df['application_date'].dt.floor('D')  # Floors to day

### ✅ 4. `.resample()`

Resample after setting the datetime column as the index. This is useful for time series:

In [53]:
# Set datetime index
df.set_index('application_date', inplace=True)

# Example: count applications per month
monthly_counts = df.resample('M').size()

/tmp/ipython-input-53-1591810164.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_counts = df.resample('M').size()

In [54]:
monthly_counts

application_date
2022-06-30    3108
2022-07-31    3573
2022-08-31    3679
2022-09-30    3385
2022-10-31    3499
2022-11-30    3487
2022-12-31    3670
2023-01-31    3423
2023-02-28    3341
2023-03-31    3421
2023-04-30    3316
2023-05-31    3562
2023-06-30    3282
2023-07-31    3553
2023-08-31    3457
2023-09-30    3424
2023-10-31    3548
2023-11-30    3314
2023-12-31    3417
2024-01-31    3615
2024-02-29    3189
2024-03-31    3607
2024-04-30    3509
2024-05-31    3463
2024-06-30    3454
2024-07-31    3485
2024-08-31    3496
2024-09-30    3216
2024-10-31    3680
2024-11-30    3468
2024-12-31    3562
2025-01-31    3732
2025-02-28    3509
2025-03-31    3609
2025-04-30    3221
2025-05-31    3603
2025-06-30     404
Freq: ME, dtype: int64

In [55]:
monthly_loan = df['loan_amount_requested'].resample('M').sum()

/tmp/ipython-input-55-3576450271.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_loan = df['loan_amount_requested'].resample('M').sum()

In [56]:
monthly_loan

application_date
2022-06-30    1.602340e+09
2022-07-31    1.829916e+09
2022-08-31    1.908113e+09
2022-09-30    1.770615e+09
2022-10-31    1.823474e+09
2022-11-30    1.777738e+09
2022-12-31    1.858422e+09
2023-01-31    1.733794e+09
2023-02-28    1.712152e+09
2023-03-31    1.737497e+09
2023-04-30    1.710380e+09
2023-05-31    1.814816e+09
2023-06-30    1.684707e+09
2023-07-31    1.821751e+09
2023-08-31    1.818248e+09
2023-09-30    1.749096e+09
2023-10-31    1.818118e+09
2023-11-30    1.682318e+09
2023-12-31    1.735601e+09
2024-01-31    1.862171e+09
2024-02-29    1.633513e+09
2024-03-31    1.890876e+09
2024-04-30    1.802993e+09
2024-05-31    1.807489e+09
2024-06-30    1.754449e+09
2024-07-31    1.823592e+09
2024-08-31    1.807471e+09
2024-09-30    1.625263e+09
2024-10-31    1.905962e+09
2024-11-30    1.802490e+09
2024-12-31    1.819167e+09
2025-01-31    1.902708e+09
2025-02-28    1.810180e+09
2025-03-31    1.813991e+09
2025-04-30    1.713906e+09
2025-05-31    1.867361e+09
2025-06-30    2.064440e+08
Freq: ME, Name: loan_amount_requested, dtype: float64

In [57]:
# Set datetime index again if needed
df = df.asfreq('D', method='ffill')  # Daily frequency with forward fill

ValueError: cannot reindex on an axis with duplicate labels

In [58]:
df

,application_id,customer_id,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y,app_year,app_month,app_day,app_weekday,app_floor
application_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2023-04-09,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,3678373e-43ef-43db-86e6-2ded25c0215a,2022-01-05 12:48:00,Loan Disbursement,8800.0,Online Shopping,Samra Group,"Ratlam, West Bengal",0.0,0,ATM,186.235.7.252,Success,OFOB90092825868410,Payment for Online Shopping,0,2023,4,9,6,2023-04-09
2023-04-09,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,6d95f4bc-ed70-4f81-8618-d61fcabee006,2022-01-01 10:59:00,ATM Withdrawal,4900.0,Utilities,Kumar LLC,"Burhanpur, Telangana",16665.0,0,POS,198.121.163.126,Success,Self,Payment for Utilities,0,2023,4,9,6,2023-04-09
2023-09-23,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,7defbd79-319e-44c3-84b0-eda86770d117,2022-01-16 19:07:00,ATM Withdrawal,3600.0,Education,Hans-Sampath,"Allahabad, Gujarat",33298.0,0,ATM,48.39.67.206,Success,Self,Payment for Education,0,2023,9,23,5,2023-09-23
2023-09-23,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,d6e1e087-c979-45af-82be-a80be7b16e0c,2022-01-29 01:28:00,EMI Payment,9800.0,Entertainment,"Chaudry, Vaidya and Mahajan","Pimpri-Chinchwad, Arunachal Pradesh",36445.0,0,Mobile,23.72.133.170,Success,ERZV01835170244300,Payment for Entertainment,0,2023,9,23,5,2023-09-23
2023-09-23,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,5cda4577-eadd-4da3-b50c-aa96c8c40fd4,2022-01-07 16:51:00,Deposit,4400.0,Cash Withdrawal,Biswas Ltd,"Bulandshahr, Andhra Pradesh",13656.0,0,POS,146.178.79.161,Success,Self,Payment for Cash Withdrawal,0,2023,9,23,5,2023-09-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-14,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,826e2fa7-4942-4264-9aa5-73c435e894ee,2022-01-29 08:47:00,Net Banking,4100.0,Utilities,"Comar, Chandran and Sankar","Udaipur, Bihar",7793.0,0,Mobile,45.12.55.170,Success,LKFK86966279007502,Payment for Utilities,0,2024,12,14,5,2024-12-14
2024-12-14,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,7745ef45-aa3c-4510-ae29-efe5e4269dc1,2022-01-01 17:53:00,EMI Payment,2800.0,Utilities,"Dhar, Bandi and Mannan","Karimnagar, Mizoram",45281.0,0,Mobile,227.88.125.141,Success,OQLW11460848163287,Payment for Utilities,0,2024,12,14,5,2024-12-14
2024-12-14,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,b93bac13-9124-480d-9fbf-675d379fd76d,2022-01-05 05:48:00,Credit Card,5200.0,Education,"Viswanathan, Dutta and Date","Tenali, Uttarakhand",0.0,0,ATM,113.89.126.32,Success,FZWM42401121012219,Payment for Education,0,2024,12,14,5,2024-12-14
2025-03-25,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,7f126cee-0d71-4c48-839b-d08f1c896128,2022-01-09 17:47:00,Debit Card,12400.0,Dining,"Loyal, Ganesan and Wali","Shahjahanpur, Punjab",12396.0,0,POS,174.24.235.70,Success,PKCY10495832996768,Payment for Dining,0,2025,3,25,1,2025-03-25
2025-03-25,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,22f54ed6-08a5-42aa-9339-b9ccb5aab99f,2022-01-02 09:44:00,Net Banking,12000.0,Online Shopping,"Bhatt, Mander and Sengupta","Kolkata, Uttar Pradesh",31502.0,0,Mobile,29.48.28.34,Success,THMT78456558056686,Payment for Online Shopping,0,2025,3,25,1,2025-03-25

## 🔹 11. **String Handling (Vectorized)**

(via `.str` accessor)

* `.str.lower()`, `.str.upper()`, `.str.contains()`, `.str.replace()`
* `.str.extract()`, `.str.findall()`
* `.str.len()`, `.str.strip()`, `.str.split()`

In [59]:
df['loan_type_lower'] = df['loan_type'].str.lower()
df['loan_type_upper'] = df['loan_type'].str.upper()

In [61]:
df['loan_type_lower'].head(1)

application_date
2023-04-09    business loan
Name: loan_type_lower, dtype: object

In [62]:
df['is_medical_related'] = df['purpose_of_loan'].str.contains('medical', case=False)

In [63]:
df['employment_status_cleaned'] = df['employment_status'].str.replace('Self-Employed', 'Self', regex=False)

In [64]:
df['pin_code'] = df['residential_address'].str.extract(r'(\d{6})')

In [65]:
df['numbers_in_address'] = df['residential_address'].str.findall(r'\d+')

In [66]:
df['purpose_len'] = df['purpose_of_loan'].str.len()

In [68]:
df['gender_stripped'] = df['gender'].str.strip()

In [69]:
df['address_parts'] = df['residential_address'].str.split(',')

In [71]:
df['city'] = df['address_parts'].str[0]

In [72]:
df[['loan_type','loan_type_lower','loan_type_upper','purpose_of_loan','is_medical_related','employment_status','employment_status_cleaned','residential_address','pin_code','numbers_in_address','purpose_len','gender_stripped','gender','address_parts','city']]

,loan_type,loan_type_lower,loan_type_upper,purpose_of_loan,is_medical_related,employment_status,employment_status_cleaned,residential_address,pin_code,numbers_in_address,purpose_len,gender_stripped,gender,address_parts,city
application_date,,,,,,,,,,,,,,,
2023-04-09,Business Loan,business loan,BUSINESS LOAN,Medical Emergency,True,Retired,Retired,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",380521,"[94, 31, 380521, 918055]",17,Female,Female,"[94/31, Sehgal Zila, Vadodara-380521, Anant...",94/31
2023-04-09,Business Loan,business loan,BUSINESS LOAN,Medical Emergency,True,Retired,Retired,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",380521,"[94, 31, 380521, 918055]",17,Female,Female,"[94/31, Sehgal Zila, Vadodara-380521, Anant...",94/31
2023-09-23,Car Loan,car loan,CAR LOAN,Education,False,Unemployed,Unemployed,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",006728,"[00, 006728, 909564]",9,Other,Other,"[H.No. 00, Sheth Chowk, Ichalkaranji 006728,...",H.No. 00
2023-09-23,Car Loan,car loan,CAR LOAN,Education,False,Unemployed,Unemployed,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",006728,"[00, 006728, 909564]",9,Other,Other,"[H.No. 00, Sheth Chowk, Ichalkaranji 006728,...",H.No. 00
2023-09-23,Car Loan,car loan,CAR LOAN,Education,False,Unemployed,Unemployed,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",006728,"[00, 006728, 909564]",9,Other,Other,"[H.No. 00, Sheth Chowk, Ichalkaranji 006728,...",H.No. 00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-14,Car Loan,car loan,CAR LOAN,Wedding,False,Student,Student,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",991795,"[505, 991795, 392400]",7,Other,Other,"[H.No. 505, Luthra Zila, Panchkula 991795, ...",H.No. 505
2024-12-14,Car Loan,car loan,CAR LOAN,Wedding,False,Student,Student,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",991795,"[505, 991795, 392400]",7,Other,Other,"[H.No. 505, Luthra Zila, Panchkula 991795, ...",H.No. 505
2024-12-14,Car Loan,car loan,CAR LOAN,Wedding,False,Student,Student,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",991795,"[505, 991795, 392400]",7,Other,Other,"[H.No. 505, Luthra Zila, Panchkula 991795, ...",H.No. 505
2025-03-25,Home Loan,home loan,HOME LOAN,Education,False,Business Owner,Business Owner,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",908829,"[23, 178, 908829, 379174]",9,Male,Male,"[23/178, Iyengar Chowk, Karawal Nagar-908829...",23/178
2025-03-25,Home Loan,home loan,HOME LOAN,Education,False,Business Owner,Business Owner,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",908829,"[23, 178, 908829, 379174]",9,Male,Male,"[23/178, Iyengar Chowk, Karawal Nagar-908829...",23/178

In [75]:
df.sample(1)

,application_id,customer_id,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y,app_year,app_month,app_day,app_weekday,app_floor,loan_type_lower,loan_type_upper,is_medical_related,employment_status_cleaned,pin_code,numbers_in_address,purpose_len,gender_stripped,address_parts,city
application_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2024-01-23,29fa0f83-3703-4a5e-a80f-a1ee2903074d,CUST114966,Personal Loan,528000.0,24,7.63,Medical Emergency,Retired,50400.0,706,0.0,0.0,Owned,"H.No. 082, Dixit Circle, Parbhani 862348, Farr...",30,Other,1,Approved,0,NaN,e65e14a5-217a-44d7-9f69-8e50ad870b41,2022-01-08 10:22:00,EMI Payment,15800.0,Education,Behl PLC,"Alwar, Madhya Pradesh",0.0,0,ATM,97.161.100.246,Success,KASO21885896689443,Payment for Education,0,2024,1,23,1,2024-01-23,personal loan,PERSONAL LOAN,True,Retired,862348,"[082, 862348, 926665]",17,Other,"[H.No. 082, Dixit Circle, Parbhani 862348, ...",H.No. 082

In [79]:
df['purpose_of_loan'] = df['purpose_of_loan'].astype('category')

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 125281 entries, 2023-04-09 to 2025-03-25
Data columns (total 50 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   application_id                     125281 non-null  object
 1   customer_id                        125281 non-null  object
 2   loan_type                          125281 non-null  object
 3   loan_amount_requested              125281 non-null  float64
 4   loan_tenure_months                 125281 non-null  int64
 5   interest_rate_offered              125281 non-null  float64
 6   purpose_of_loan                    125281 non-null  category
 7   employment_status                  125281 non-null  object
 8   monthly_income                     125281 non-null  float64
 9   cibil_score                        125281 non-null  int64
 10  existing_emis_monthly              125281 non-null  float64
 11  debt_to_income_ratio               125281 non-null  float64
 12  property_ownership_status          125281 non-null  object
 13  residential_address                125281 non-null  object
 14  applicant_age                      125281 non-null  int64
 15  gender                             125281 non-null  object
 16  number_of_dependents               125281 non-null  int64
 17  loan_status                        125281 non-null  object
 18  fraud_flag_x                       125281 non-null  int64
 19  fraud_type                         2610 non-null    object
 20  transaction_id                     125281 non-null  object
 21  transaction_date                   125281 non-null  object
 22  transaction_type                   125281 non-null  object
 23  transaction_amount                 125281 non-null  float64
 24  merchant_category                  125281 non-null  object
 25  merchant_name                      125281 non-null  object
 26  transaction_location               125281 non-null  object
 27  account_balance_after_transaction  125281 non-null  float64
 28  is_international_transaction       125281 non-null  int64
 29  device_used                        125281 non-null  object
 30  ip_address                         125281 non-null  object
 31  transaction_status                 125281 non-null  object
 32  transaction_source_destination     125281 non-null  object
 33  transaction_notes                  125281 non-null  object
 34  fraud_flag_y                       125281 non-null  int64
 35  app_year                           125281 non-null  int32
 36  app_month                          125281 non-null  int32
 37  app_day                            125281 non-null  int32
 38  app_weekday                        125281 non-null  int32
 39  app_floor                          125281 non-null  datetime64[ns]
 40  loan_type_lower                    125281 non-null  object
 41  loan_type_upper                    125281 non-null  object
 42  is_medical_related                 125281 non-null  bool
 43  employment_status_cleaned          125281 non-null  object
 44  pin_code                           125281 non-null  object
 45  numbers_in_address                 125281 non-null  object
 46  purpose_len                        125281 non-null  int64
 47  gender_stripped                    125281 non-null  object
 48  address_parts                      125281 non-null  object
 49  city                               125281 non-null  object
dtypes: bool(1), category(1), datetime64[ns](1), float64(7), int32(4), int64(8), object(28)
memory usage: 49.2+ MB

In [83]:
df['purpose_of_loan'].cat.codes

application_date
2023-04-09    4
2023-04-09    4
2023-09-23    2
2023-09-23    2
2023-09-23    2
             ..
2024-12-14    6
2024-12-14    6
2024-12-14    6
2025-03-25    2
2025-03-25    2
Length: 125281, dtype: int8

In [84]:
df['purpose_of_loan'].cat.categories

Index(['Business Expansion', 'Debt Consolidation', 'Education',
       'Home Renovation', 'Medical Emergency', 'Vehicle Purchase', 'Wedding'],
      dtype='object')

In [85]:
df.dtypes

application_id                               object
customer_id                                  object
loan_type                                    object
loan_amount_requested                       float64
loan_tenure_months                            int64
interest_rate_offered                       float64
purpose_of_loan                            category
employment_status                            object
monthly_income                              float64
cibil_score                                   int64
existing_emis_monthly                       float64
debt_to_income_ratio                        float64
property_ownership_status                    object
residential_address                          object
applicant_age                                 int64
gender                                       object
number_of_dependents                          int64
loan_status                                  object
fraud_flag_x                                  int64
fraud_type                                   object
transaction_id                               object
transaction_date                             object
transaction_type                             object
transaction_amount                          float64
merchant_category                            object
merchant_name                                object
transaction_location                         object
account_balance_after_transaction           float64
is_international_transaction                  int64
device_used                                  object
ip_address                                   object
transaction_status                           object
transaction_source_destination               object
transaction_notes                            object
fraud_flag_y                                  int64
app_year                                      int32
app_month                                     int32
app_day                                       int32
app_weekday                                   int32
app_floor                            datetime64[ns]
loan_type_lower                              object
loan_type_upper                              object
is_medical_related                             bool
employment_status_cleaned                    object
pin_code                                     object
numbers_in_address                           object
purpose_len                                   int64
gender_stripped                              object
address_parts                                object
city                                         object
dtype: object

## 🔹 15. **MultiIndex and Hierarchical Data**

* `.set_index()`, `.reset_index()`
* `.swaplevel()`, `.reorder_levels()`
* `.xs()`, `.index.get_level_values()`

In [97]:
df

,application_id,customer_id,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y,app_year,app_month,app_day,app_weekday,app_floor,loan_type_lower,loan_type_upper,is_medical_related,employment_status_cleaned,pin_code,numbers_in_address,purpose_len,gender_stripped,address_parts,city
application_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2023-04-09,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,3678373e-43ef-43db-86e6-2ded25c0215a,2022-01-05 12:48:00,Loan Disbursement,8800.0,Online Shopping,Samra Group,"Ratlam, West Bengal",0.0,0,ATM,186.235.7.252,Success,OFOB90092825868410,Payment for Online Shopping,0,2023,4,9,6,2023-04-09,business loan,BUSINESS LOAN,True,Retired,380521,"[94, 31, 380521, 918055]",17,Female,"[94/31, Sehgal Zila, Vadodara-380521, Anant...",94/31
2023-04-09,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,6d95f4bc-ed70-4f81-8618-d61fcabee006,2022-01-01 10:59:00,ATM Withdrawal,4900.0,Utilities,Kumar LLC,"Burhanpur, Telangana",16665.0,0,POS,198.121.163.126,Success,Self,Payment for Utilities,0,2023,4,9,6,2023-04-09,business loan,BUSINESS LOAN,True,Retired,380521,"[94, 31, 380521, 918055]",17,Female,"[94/31, Sehgal Zila, Vadodara-380521, Anant...",94/31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-03-25,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,7f126cee-0d71-4c48-839b-d08f1c896128,2022-01-09 17:47:00,Debit Card,12400.0,Dining,"Loyal, Ganesan and Wali","Shahjahanpur, Punjab",12396.0,0,POS,174.24.235.70,Success,PKCY10495832996768,Payment for Dining,0,2025,3,25,1,2025-03-25,home loan,HOME LOAN,False,Business Owner,908829,"[23, 178, 908829, 379174]",9,Male,"[23/178, Iyengar Chowk, Karawal Nagar-908829...",23/178
2025-03-25,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,22f54ed6-08a5-42aa-9339-b9ccb5aab99f,2022-01-02 09:44:00,Net Banking,12000.0,Online Shopping,"Bhatt, Mander and Sengupta","Kolkata, Uttar Pradesh",31502.0,0,Mobile,29.48.28.34,Success,THMT78456558056686,Payment for Online Shopping,0,2025,3,25,1,2025-03-25,home loan,HOME LOAN,False,Business Owner,908829,"[23, 178, 908829, 379174]",9,Male,"[23/178, Iyengar Chowk, Karawal Nagar-908829...",23/178

In [87]:
df.reset_index()

,application_date,application_id,customer_id,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y,app_year,app_month,app_day,app_weekday,app_floor,loan_type_lower,loan_type_upper,is_medical_related,employment_status_cleaned,pin_code,numbers_in_address,purpose_len,gender_stripped,address_parts,city
0,2023-04-09,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,3678373e-43ef-43db-86e6-2ded25c0215a,2022-01-05 12:48:00,Loan Disbursement,8800.0,Online Shopping,Samra Group,"Ratlam, West Bengal",0.0,0,ATM,186.235.7.252,Success,OFOB90092825868410,Payment for Online Shopping,0,2023,4,9,6,2023-04-09,business loan,BUSINESS LOAN,True,Retired,380521,"[94, 31, 380521, 918055]",17,Female,"[94/31, Sehgal Zila, Vadodara-380521, Anant...",94/31
1,2023-04-09,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,6d95f4bc-ed70-4f81-8618-d61fcabee006,2022-01-01 10:59:00,ATM Withdrawal,4900.0,Utilities,Kumar LLC,"Burhanpur, Telangana",16665.0,0,POS,198.121.163.126,Success,Self,Payment for Utilities,0,2023,4,9,6,2023-04-09,business loan,BUSINESS LOAN,True,Retired,380521,"[94, 31, 380521, 918055]",17,Female,"[94/31, Sehgal Zila, Vadodara-380521, Anant...",94/31
2,2023-09-23,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,7defbd79-319e-44c3-84b0-eda86770d117,2022-01-16 19:07:00,ATM Withdrawal,3600.0,Education,Hans-Sampath,"Allahabad, Gujarat",33298.0,0,ATM,48.39.67.206,Success,Self,Payment for Education,0,2023,9,23,5,2023-09-23,car loan,CAR LOAN,False,Unemployed,006728,"[00, 006728, 909564]",9,Other,"[H.No. 00, Sheth Chowk, Ichalkaranji 006728,...",H.No. 00
3,2023-09-23,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,d6e1e087-c979-45af-82be-a80be7b16e0c,2022-01-29 01:28:00,EMI Payment,9800.0,Entertainment,"Chaudry, Vaidya and Mahajan","Pimpri-Chinchwad, Arunachal Pradesh",36445.0,0,Mobile,23.72.133.170,Success,ERZV01835170244300,Payment for Entertainment,0,2023,9,23,5,2023-09-23,car loan,CAR LOAN,False,Unemployed,006728,"[00, 006728, 909564]",9,Other,"[H.No. 00, Sheth Chowk, Ichalkaranji 006728,...",H.No. 00
4,2023-09-23,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,5cda4577-eadd-4da3-b50c-aa96c8c40fd4,2022-01-07 16:51:00,Deposit,4400.0,Cash Withdrawal,Biswas Ltd,"Bulandshahr, Andhra Pradesh",13656.0,0,POS,146.178.79.161,Success,Self,Payment for Cash Withdrawal,0,2023,9,23,5,2023-09-23,car loan,CAR LOAN,False,Unemployed,006728,"[00, 006728, 909564]",9,Other,"[H.No. 00, Sheth Chowk, Ichalkaranji 006728,...",H.No. 00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125276,2024-12-14,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,826e2fa7-4942-4264-9aa5-73c435e894ee,2022-01-29 08:47:00,Net Banking,4100.0,Utilities,"Comar, Chandran and Sankar","Udaipur, Bihar",7793.0,0,Mobile,45.12.55.170,Success,LKFK86966279007502,Payment for Utilities,0,2024,12,14,5,2024-12-14,car loan,CAR LOAN,False,Student,991795,"[505, 991795, 392400]",7,Other,"[H.No. 505, Luthra Zila, Panchkula 991795, ...",H.No. 505
125277,2024-12-14,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,7745ef45-aa3c-4510-ae29-efe5e4269dc1,2022-01-01 17:53:00,EMI Payment,2800.0,Utilities,"Dhar, Bandi and Mannan","Karimnagar, Mizoram",45281.0,0,Mobile,227.88.125.141,Success,OQLW11460848163287,Payment for Utilities,0,2024,12,14,5,2024-12-14,car loan,CAR LOAN,False,Student,991795,"[505, 991795, 392400]",7,Other,"[H.No. 505, Luthra Zila, Panchkula 991795, ...",H.No. 505
125278,2024-12-14,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,b93bac13-9124-480d-9fbf-675d379fd76d,2022-01-05 05:48:00,Credit Card,5200.0,Education,"Viswanathan, Dutta and Date","Tenali, Uttarakhand",0.0,0,ATM,113.89.126.32,Success,FZWM42401121012219,Payment for Education,0,2024,12,14,5,2024-12-14,car loan,CAR LOAN,False,Student,991795,"[505, 991795, 392400]",7,Other,"[H.No. 505, Luthra Zila, Panchkula 991795, ...",H.No. 505
125279,2025-03-25,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,7f126cee-0d71-4c48-839b-d08f1c896128,2022-01-09 17:47:00,Debit Card,12400.0,Dining,"Loyal, Ganesan and Wali","Shahjahanpur, Punjab",12396.0,0,POS,174.24.235.70,Success,PKCY10495832996768,Payment for Dining,0,2025,3,25,1,2025-03-25,home loan,HOME LOAN,False,Business Owner,908829,"[23, 178, 908829, 379174]",9,Male,"[23/178, Iyengar Chowk, Karawal Nagar-908829...",23/178
125280,2025-03-25,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,22f54ed6-08a5-42aa-9339-b9ccb5aab99f,2022-01-02 09:44:00,Net Banking,12000.0,Online Shopping,"Bhatt, Mander and Sengupta","Kolkata, Uttar Pradesh",31502.0,0,Mobile,29.48.28.34,Success,THMT78456558056686,Payment for Online Shopping,0,2025,3,25,1,2025-03-25,home loan,HOME LOAN,False,Business Owner,908829,"[23, 178, 908829, 379174]",9,Male,"[23/178, Iyengar Chowk, Karawal Nagar-908829...",23/178

In [90]:
pd.option_context(df)

ValueError: Need to invoke as option_context(pat, val, [(pat, val), ...]).

In [92]:
pd.get_option('di')

TypeError: _get_option() missing 1 required positional argument: 'pat'

In [93]:
pd.describe_option()                       # Show all available display options

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller than the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table, or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: None]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
future.infer_string Whether to infer sequence of str objects as pyarrow string dtype, which will be the default in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
future.no_silent_downcasting Whether to opt-in to the future behavior which will *not* silently downcast results from Series and DataFrame `where`, `mask`, and `clip` methods. Silent downcasting will be removed in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf, calamine.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd, calamine.
    [default: auto] [currently: auto]
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.copy_on_write : bool
    Use new copy-view behaviour using Copy-on-Write. Defaults to False,
    unless overridden by the 'PANDAS_COPY_ON_WRITE' environment variable
    (if set to "1" for True, needs to be set before pandas is imported).
    [default: False] [currently: False]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
    (Deprecated, use `` instead.)
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype. This option is ignored if
    ``future.infer_string`` is set to True.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).

    This option is deprecated in pandas 2.1.0 and will be removed in 3.0.
    [default: False] [currently: False]
    (Deprecated, use `` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

In [96]:
pd.set_option("display.max_rows", 5)